<%- include("../partials/html-head") %>

<link rel="stylesheet" href="/stylesheets/destinations/new.css">


<%- include("../partials/nav") %>

<main>
  <h1><%= title %> </h1>
  <p>Please make sure the destination is not already in the drop down
    <select id="airport-dropdown">
      <% destinations.forEach(destination => { %>
        <option><%= destination.airport %> </option>
     <% }) %> 
    </select>
  </p>
  <form action="/destinations" id="add-destination-form" method="POST">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input" required>
    <button type="submit">Add Destination</button>
  </form>
</main>

<%- include("../partials/footer") %> 